
:root {
    --bg_main: #fff;
    --text: #000000;
    --text_med: #53627c;
    --btn-color: #20D23C;
    --darkred: #c3112d;
    --orange: #ff8c00;
  }
  
  * {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box ;
    font-weight: normal;
  }


  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
   
  button,
  input {
    /* border: none; */
    border-radius: 10px 0px 0px 10px;
    background: #C4C4C4;
    outline: none;
    color: inherit;
    
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text);
    padding: 70px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  /* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-banner {
    color: var(--text);
  }
  
  .heading {
    font-weight: normal;
    font-size: 48px;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  
  .top-banner form input::placeholder {
    color: white; 
  }
  
  .top-banner form button {
    font-size: 18px;
    font-weight: 400 regular;
    padding: 15px;
    margin-left: 15px;
    border-radius: 0px 10px 10px 0px;;
    background: var(--btn-color);
    width: 80px;

  }
  
  .top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
    color: red
  }
  
  
  /* SECTION #2
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .fetch-section {
    margin: 70px 0 20px;
  }
  
  .fetch-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .fetch-section .city {
    position: relative;
    padding: 10px 10%;
    border-radius: 15px;
    background: #C4C4C4;
    color: #000000;
    box-shadow: rgba(196, 196, 196, 0.51);;
  }
  
  
  .fetch-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .fetch-section .city-temp {
    font-size: 46px;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
  .fetch-section .city sup {
    font-size: 0.5em;
  }
  
  .fetch-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .fetch-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  