<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    input {
        height: calc(3.5rem + 2px);
        line-height: 1.25;
    }
</style>

<body>

    <div class="container col-xl-12 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">

            <div class="col-md-12 mx-auto col-lg-12">
                <h2 class="text-center">Add new student</h2>
                <form class="p-4 p-md-5 border rounded-3 bg-light" action="/new-student" method="post">
                    <h3>Personal information</h3>
                    <hr style="height: 3px; margin-top: -2px;">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="floatingInput1">Name</label>
                            <input type="text" class="form-control <%= ('name' in  errors) ? 'is-invalid' : '' %>" name="name" id="floatingInput1" placeholder="John Doe">
                            <% if ('name' in errors) { %>
                            <div class="invalid-feedback">
                                <%= errors['name'] %>
                            </div>
                            <% } %>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="floatingInput2">Gender</label>
                            <input type="text" class="form-control" id="floatingInput2" name="gender" placeholder="M or F">
                        </div>
                    </div>

                    <h3 class="mt-5">Contact information</h3>
                    <hr style="height: 3px; margin-top: -2px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="floatingInput5">Phone</label>
                                <input type="number" class="form-control" name="contactInfo[tel]" id="floatingInput5" placeholder="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="floatingInput6">Email address</label>
                                <input type="email" class="form-control" name="contactInfo[email]" id="floatingInput6" placeholder="name@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="floatingInput7">City</label>
                        <input type="text" class="form-control" name="contactInfo[address][city]" id="floatingInput7" placeholder="">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="floatingInput8">Street</label>
                                <input type="text" class="form-control" name="contactInfo[address][street]" id="floatingInput8" placeholder="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="floatingInput9">House number</label>
                                <input type="text" class="form-control" name="contactInfo[address][houseNumber]" id="floatingInput9" placeholder="">
                            </div>
                        </div>
                    </div>

                    <h3 class="mt-5">Other information</h3>
                    <hr style="height: 3px; margin-top: -2px;">
                    <div class="mb-3">
                        <label for="floatingInput3">Department</label>
                        <input type="text" class="form-control" id="floatingInput3" name="department" placeholder="Science">
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>

</body>

</html>